In [ ]:
a=25
print("a as int:",a)

b=548468
print("b as long",b)

c=14.25
print("c as float",c)

d=3.14j
print("d as complex",d)


#string
str1="welcome to python"
print(str1)

#list
l1=[15,25.6,"python"]
print(l1)

#tuple
t1=(21,"python",21.45)
print(t1)

#dictionary
d1={"aradhana":21,"prarthana":100,"rugved":23}
print(d1)

a as int: 25
b as long 548468
c as float 14.25
d as complex 3.14j
welcome to python
[15, 25.6, 'python']
(21, 'python', 21.45)
{'aradhana': 21, 'prarthana': 100, 'rugved': 23}

In [ ]:
weather = input("what is the weather today?")
if weather == "sunny":
  print("it is great to go for a picnic")

elif weather =="cloudy":
  print("do not forget to take jacket incase if it rains")
elif  weather == "rainy":
  print("do not forget to take umbrella")
else:
  print("sorry, I don't understood the weather ")

what is the weather today?sunny
it is great to go for a picnic

In [ ]:
#if statement
n1 = int(input())
n2 = int(input())
n3 = int(input())
if n1>n2 and n1>n3 :
  print(n1,"is largest")
if n2>n1 and n2>n3 :
  print(n2,"is largest")
if n3>n1 and n3>n2 :
  print(n3,"is largest")

21
22
23
23 is largest

In [ ]:
#extend()
#list1.extend(list2)

11=[20,30,40]
12=[80,70]
11.extract(12)
print(11)

SyntaxError: ignored

In [ ]:
#if statement
n1 = int(input())
n2 = int(input())
n3 = int(input())
if n1>n2 and n1>n3 :
  print(n1,"is largest")
if n2>n1 and n2>n3 :
  print(n2,"is largest")
if n3>n1 and n3>n2 :
  print(n3,"is largest")

20
30
40
40 is largest

In [ ]:
#insert
11 =["python","java","essential of data science"]
print(11)
11.insert(2,"hadoop")
print(11)

SyntaxError: ignored