In [ ]:
#1
import pandas as pd
df=pd.read_csv('/employee_data.csv')
b=pd.DataFrame(df)
print(b)

     Unnamed: 0   id groups  age  healthy_eating  active_lifestyle  salary
0             0    0      A   36               5                 5    2297
1             1    1      A   55               3                 5    1134
2             2    2      A   61               8                 1    4969
3             3    3      O   29               3                 6     902
4             4    4      O   34               6                 2    3574
..          ...  ...    ...  ...             ...               ...     ...
995         995  995      O   33               7                 7    2996
996         996  996      O   21               1                 2     667
997         997  997      O   49               9                 7    4158
998         998  998     AB   56               6                 7    2414
999         999  999      B   64               4                 9     788

[1000 rows x 7 columns]

In [ ]:
#2
a=df['roll no']
print(a)

0    102
1    106
2    265
3    365
4    452
5    123
6    621
7    521
8    236
9    521
Name: roll no, dtype: int64

In [ ]:
#3
print(b[['name','roll no','hobby']])
g=df.columns.tolist()
print(g)

     name  roll no         hobby
0    yash      102       READING
1   rahul      106        GAMING
2   harsh      265       PLAYING
3     jay      365      SLEEPING
4   rohit      452       READING
5    jeet      123        GAMING
6  sanket      621       PLAYING
7  sandip      521      SLEEPING
8  ramesh      236         CRAFT
9  suresh      521  MODEL MAKING
['sr.no', 'name', 'div', 'roll no', 'hobby']

In [ ]:
#4
z=df['name'].value_counts()
print(z)

yash      1
rahul     1
harsh     1
jay       1
rohit     1
jeet      1
sanket    1
sandip    1
ramesh    1
suresh    1
Name: name, dtype: int64

In [ ]:
#5
x=df['sr.no'].value_counts()[1]
print(x)

1

In [ ]:
#6
from sqlalchemy import true
s=df.sort_values(by='roll no',ascending=True)
print(s)

   sr.no    name div  roll no         hobby
0      1    yash   A      102       READING
1      2   rahul   A      106        GAMING
5      6    jeet   C      123        GAMING
8      9  ramesh   C      236         CRAFT
2      3   harsh   B      265       PLAYING
3      4     jay   B      365      SLEEPING
4      5   rohit   C      452       READING
7      8  sandip   B      521      SLEEPING
9     10  suresh   D      521  MODEL MAKING
6      7  sanket   A      621       PLAYING

In [ ]:
import pandas as pd
df = pd.read_csv('/content/hobby.csv')
print(df)
df1 = pd.read_csv('/content/HOBBY2.csv')
print(df1)

   sr.no    name div  roll no         hobby
0      1    yash   A      102       READING
1      2   rahul   A      106        GAMING
2      3   harsh   B      265       PLAYING
3      4     jay   B      365      SLEEPING
4      5   rohit   C      452       READING
5      6    jeet   C      123        GAMING
6      7  sanket   A      621       PLAYING
7      8  sandip   B      521      SLEEPING
8      9  ramesh   C      236         CRAFT
9     10  suresh   D      521  MODEL MAKING
   sr.no    name div  roll no  FAIL IN SUB
0      1    yash   A      102            2
1      2   rahul   A      106            2
2      3   harsh   B      265            2
3      4     jay   B      365            2
4      5   rohit   C      452            2
5      6    jeet   C      123            2
6      7  sanket   A      621            2
7      8  sandip   B      521            2
8      9  ramesh   C      236            2
9     10  suresh   D      521            1

In [ ]:
import pandas as pd
a= pd.merge(df,df1)
print(a)

   sr.no    name div  roll no         hobby  FAIL IN SUB
0      1    yash   A      102       READING            2
1      2   rahul   A      106        GAMING            2
2      3   harsh   B      265       PLAYING            2
3      4     jay   B      365      SLEEPING            2
4      5   rohit   C      452       READING            2
5      6    jeet   C      123        GAMING            2
6      7  sanket   A      621       PLAYING            2
7      8  sandip   B      521      SLEEPING            2
8      9  ramesh   C      236         CRAFT            2
9     10  suresh   D      521  MODEL MAKING            1

In [ ]:
df.sort_values(by=['roll no'],ascending=False)

KeyError: ignored

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df=pd.read_csv('/student_marks.csv')
b=pd.DataFrame(df)
print(b)

   Roll  Maths  Physics  Chemistry  Total  Percentage
0     1     55       45         56    156       52.00
1     2     75       55         55    185       61.67
2     3     25       54         89    168       56.00
3     4     78       55         86    219       73.00
4     5     58       96         78    232       77.33
5     6     88       78         58    224       74.67
6     7     56       89         69    214       71.33
7     8     54       55         88    197       65.67
8     9     46       66         65    177       59.00
9    10     89       87         54    230       76.67

In [ ]:
df.sort_values(by=['Total'],ascending=False)

KeyError: ignored