In [ ]:

# Python Data Types
# 1)Numbers 2)String 3)List 4)TUple


#string
str1 = "Welcome to Python"
print(str1)

Welcome to Python

In [ ]:
# Numbers
a=25
print("a as int:",a)
b=548468
print("b as long",b)
c=14.25
print("c as float",c)
d=3.14j
print("d as complex",d)

a as int: 25
b as long 548468
c as float 14.25
d as complex 3.14j

In [ ]:
#tuple
l1=(21,"Python",21.45)
print(l1)

(21, 'Python', 21.45)

In [ ]:
#Dictionary

d1={"Aradhana":21,"Prarthana":22,"Rugved":23}
print(d1)

{'Aradhana': 21, 'Prarthana': 22, 'Rugved': 23}

In [ ]:

#List

l1=[15,25.6,"Python"]
print(l1)

[15, 25.6, 'Python']

In [ ]:
#Decision making Statement
#if-else statement
print("Enter a Number")
num = int(input())
if num%2==0:
  print(num," is even")
else:
  print(num, "is odd")

Enter a Number
10
10  is even

In [ ]:
# if statement
n1 = int(input())
n2 = int(input())
n3 = int(input())
if n1>n2 and n1>n3:
  print(n1,"is largest")
if n2>n1 and n2>n3:
  print(n2, "is largest")
if n3>n1 and n3>n2:
  print(n3, "is largest")

10
20
2
20 is largest

In [ ]:
#Nested if statement
n1=int(input())
n2=int(input())
n3=int(input())

if n1>n2:
  if n1>n3:
    print(n1,"is largest")
if n2>n3:
  if n2>n1:
    print(n2,"is largest")
if n3>n2:
  if n3>n1:
   print(n3,"is largest")
print("main area ends")

20
22
44
44 is largest
main area ends

In [ ]:
#Short hand if-else
print("Enter any number")
num=int(input())
print(num,"is even") if num%2==0 else print(num,"is odd")

Enter any number
22
22 is even

In [ ]:
#loop manipulation
i=1
while i<10:
  print("Welcome")
  i=i+1

Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome

In [ ]:
#elif
weather = input("What is the Wheather today?") #input
if weather == "Sunny" :
  print("It is a great day to go for a picnic! ")
elif weather == "Cloudy":
  print("Don't forget to bring jacket in case it rains.")
elif weather=="Rainy":
  print("Remember to bring umbrella")
else:
  print("Sorry! I don't understand the weather condition")

What is the Wheather today?Rainy
Remember to bring umbrella

In [ ]:
print("Enter a value")
num =int(input())
sum=0
i=1
while i<=num:
  sum=sum+i
  i=i+1
  print("sum",sum)

Enter a value
15
sum 1
sum 3
sum 6
sum 10
sum 15
sum 21
sum 28
sum 36
sum 45
sum 55
sum 66
sum 78
sum 91
sum 105
sum 120

In [ ]:
#for loop
l1=["C++","java","Python"]
for i in l1:
  print("loop refers to book",i)

loop refers to book C++
loop refers to book java
loop refers to book Python

In [ ]:
#Function
#followed by:

# some user defoned functions
#1)
def SayHello():
  print("Welcome to Python")
SayHello()

Welcome to Python

In [ ]:
#2)
def even():
  print("Enter a number:")
  num = int(input())
  if num%2==0:
    print("Number is even:",num)
  else:
    print("Number is odd:",num)
even()

Enter a number:
15
Number is odd: 15

In [ ]:
#3)
def Sum():
  a=5
  b=7
  sum=a+b
  print("Sum =",sum)
Sum()

Sum = 12

In [ ]:
#4)
def Loopoffruits():
  fruits = ["Apple","Banana","Cherry"]
  for i in fruits:
    print(i,"it is an fruit name")
Loopoffruits()

Apple it is an fruit name
Banana it is an fruit name
Cherry it is an fruit name

In [ ]:
#Datatypes and object related functions
#type() return the type of parameter
a=10
b=True
c=16.55
d=[10,20,30]
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(abs(15))

<class 'int'>
<class 'bool'>
<class 'float'>
<class 'list'>
15

In [ ]:
#all() This function takes swquence (List,Tuple,String) as a parameter
#returns true if all values in parameter are true
l1=["","",""]
l2=["a","",""]
l3=[True,True]
l4 = [True,False]
l5 = [False,False]
a=all(l1)
b=all(l2)
c=all(l3)
d=all(l4)
e=all(l5)
print(a)
print(b)
print(c)
print(d)
print(e)

False
False
True
False
False

In [ ]:
def Bill():
  p1 = int(input()) #p:product
  p2 = int(input())
  p3 = int(input())
  p4 = int(input())
  sum = p1+p2+p3+p4
  print("The Total price of all products = ",sum)
Bill()

10
12
17
22
The Total price of all products =  61

In [ ]:
def Marksheet():
  print("Enter marks (0-300)")
  physics = int(input())
  chemistry = int(input())
  math = int(input())
  Total_Marks = physics + chemistry + math
  if (Total_Marks>=30 and Total_Marks<=300 ):
    print("Pass")
  else:
    print("fail")

In [ ]:
# basic list operations append(), insert(), extend() functions
# append() : appends and adds the specified element to list adds the spe
l1 = [10,20,"Python",94.2,314]
l1.append(21)
print(l1)

[10, 20, 'Python', 94.2, 314, 21]

In [ ]:
#extend() This function adds the elements of parameter list with invoking list
# list1.extends (list2)
l1=[10, 20, 30]
l2=[15,35,45,55]
l1.extend(l2)
print (l1)

[10, 20, 30, 15, 35, 45, 55]

In [ ]:
#Statistics, in general, is the method of collection of data, tabulation, and interpretation
import statistics
l1= [1,2,3,3,2,2,2,1]
print(statistics.mean(l1))

2

In [ ]:
l1= [485,21.344, "Python", 25678]
a = l1.__len__()      #Function returns the length of list
print(a)

4

In [ ]:
#It is the middle value of the data set. It splits the data into two halves.
import statistics
t1= (21,23,45,67)
print(statistics.median(t1))

34.0

In [ ]:
#median_high()
#function returns the median of data in case of odd number of elements,
#but in case of even number of elements, returns the higher of two middle elements.
#median_high() method calculates the high median of the given data set.
#This method also sorts the data in ascending order before calculating the high median.
import statistics
set1= [1, 3, 3, 4, 5]
#1,3,3,4,5
print("Median of the set is", (statistics.median_high(set1)))

Median of the set is 3

In [ ]:
#The median_low() function returns the median of data in case of odd number of elements,
#but in case of even number of elements, returns the lower of two middle elements.
#The statistics.median_low() method calculates the low median of the given data set.
#This method also sorts the data in ascending order before calculating the low median.
import statistics
set1 = [1, 2, 8, 4, 5]
#1,1,2,4,5,8
print("Low Median of the set is", (statistics.median_low (set1)))

Low Median of the set is 4

In [ ]:
#Mode
#It is the value that has the highest frequency in the given data set.
#The data set may have no mode if the frequency of all data points is the same.
from statistics import mode
t1 = (6, 6, 6,6,3, 3,3,3,3,3,3,3,3,3,3,3,3,4, 5, 5, 5, 5,7)
print("Mode of data set is ", (mode (t1)))

Mode of data set is  3

In [ ]:
#standard deviation
#It is defined as the square root of the variance.
#It is calculated by finding the Mean, then subtracting each number from the Mean which is
from statistics import stdev
s1=(1, 2, 5, 4, 8, 9, 12)
print("The Standard Deviation of Samplel is s", (stdev(s1)))

The Standard Deviation of Samplel is s 3.9761191895520196

In [ ]:
#It is defined as an average squared deviation from the mean.
from statistics import variance
t1=(1, 2, 5, 4, 8, 9, 12)
print("Variance of Samplel is s", (variance(t1)))

Variance of Samplel is s 15.80952380952381

In [ ]:
#The difference between the largest and smallest data point in our data set is known as th
#Range = Largest data value - smallest data value
arr = [1, 2, 3, 4, 5]
Maximum = max(arr)
Minimum= min (arr)
Range = Maximum-Minimum
print("Maximum ={}, Minimum = {} and Range = {}".format (Maximum, Minimum, Range))

Maximum =5, Minimum = 1 and Range = 4